<!DOCTYPE html>
<html>
  <head>
    <link href="../static/css/Estilo.css" rel="stylesheet" type="text/css" />
    <title>DentalCare Clinic</title>
  </head>
  <body>
    <div id="ContenedorSuperior">
      <img
        style="float: left"
        id="LogoPrincipal"
        src="../static/css/imagenes/DENTALCARE.png"
        alt="DentalCare"
        width="60%"
      />
      <img
        style="float: right"
        id="RedesSociales"
        src="../static/css/imagenes/Redes.PNG"
        alt="Contactos"
      />
    </div>
    <div id="ContenedorUbicacion">
      <h1 id="TextoUbicacion">Home Page</h1>
    </div>
    <div id="Patrocinador">
      <img
        src="../static/css/imagenes/Patrocinador.PNG"
        alt="Patrocinador"
        width="100%"
      />
    </div>
    <div id="Botones">
        <a class="HBoton1" href="">Mi boton</a>
    </div>
  </body>
</html>
